{% load static %}
{% block head %}

    <!DOCTYPE html>
{#<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->#}
{#<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->#}
{#<!--[if gt IE 8]><!-->#}
<html lang="pl">
    <head>
        <meta charset="utf-8">

        <!-- TITLE OF SITE-->
        <title> Hubert Hernoga </title>

        <!-- META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="CV, Portfolio, Resume">
        <meta name="author" content="Md. Siful Islam, Desiver Web">

        <!-- FAVICON -->
        <link rel="icon" href="{% static 'multipa/images/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'multipa/images/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'multipa/images/apple-icon-114x114.png' %}">

        <!-- ========================================
                Stylesheets
        ==========================================-->

        <!-- MATERIALIZE CORE CSS -->
        <link href="{% static 'multipa/css/materialize.min.css' %}" rel="stylesheet">

        <!-- ADDITIONAL CSS -->
        <link rel="stylesheet" href="{% static 'multipa/css/animate.css' %}">

        <!-- FONTS -->
        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>

        <!--FONTAWESOME CSS-->
        <link href="{% static 'multipa/icons/font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- CUSTOM STYLE -->
        <link href="{% static 'multipa/css/style.css' %}" rel="stylesheet" type="text/css">

        <!-- RESPONSIVE CSS-->
        <link href="{% static 'multipa/css/responsive.css' %}" rel="stylesheet">

        <!-- COLORS -->
        <!--<link rel="alternate stylesheet" href="assets/css/colors/red.css" title="red">
        <!--<link rel="alternate stylesheet" href="assets/css/colors/purple.css" title="purple">-->
        <!--<link rel="alternate stylesheet" href="assets/css/colors/orange.css" title="orange">-->
        <!--<link rel="alternate stylesheet" href="assets/css/colors/green.css" title="green">-->
        <!--<link rel="stylesheet" href="assets/css/colors/lime.css" title="lime">-->


{#        <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif] -->#}
{#        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
{#        <!--[if lt IE 9]>#}
{#        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
{#        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>#}
{#        <![endif]-->#}

    </head>
    <body>
        <!-- Start Container-->
        <div class="container">
            <!-- row -->
            <div class="row">
            <!-- =========================================
                           SIDEBAR
            ==========================================-->
                <!-- Start Sidebar -->
                <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
                    <!--  Sidebar row -->
                    <div class="row">
                        <!--  top section   -->
                        <div class="heading">
                            <!-- ====================
                                      IMAGE
                            ==========================-->
                            <div class="feature-img">
                                <a href="https://www.facebook.com/100005038891898"><img src="{% static 'multipa/images/hernoga_hubert.jpg' %}" class="responsive-img" alt=""></a>
                            </div>
                            <!-- =========================================
                                       NAVIGATION
                            ==========================================-->
                            <div class="nav-icon">
                                <nav>
                                    <div class="nav-wrapper">
                                      <ul id="nav-mobile" class="side-nav">
                                        <li><a href="/ ">Strona główna</a></li>
                                        <li><a href="/projects">Projekty</a></li>
                                        <li><a href="/cover_letter">List motywacyjny</a></li>
{#                                        <li><a href="/project">Blog</a></li>#}
{#                                        <li><a href="/contact">Nawiąż kontakt</a></li>#}
                                      </ul>
                                      <a href="#" data-activates="nav-mobile" class="button-collapse  "><i class="mdi-navigation-menu"></i></a>
                                    </div>
                                </nav>
                            </div>
                              <!-- =========================================
                                      PDF GENERATOR
                            ==========================================-->
                        <form id="myform" action='/generator_pdf' method="post">
                            {% csrf_token %}

                                <div class="nav-pdf">
                                    <nav>
                                        <div class="nav-wrapper">
                                          <a href="/generator_pdf"><i class="fa fa-file-pdf-o mdi-pdf-generator"></i></a>
                                        </div>
                                    </nav>
                                </div>

                        </form>
                            <!-- ========================================
                                       NAME AND TAGLINE
                            ==========================================-->
                            <div class="title col s12 m12 l9 right  wow fadeIn" data-wow-delay="0.1s">
                                <h2>Hubert Hernoga</h2> <!-- title name -->
                                <span>Programista Junior Python </span>  <!-- tagline -->
                            </div>
                        </div>
                         <!-- sidebar info -->
                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            <div class="row">
                                <div class="col m12 s12 l3 icon"> <!-- icon -->
                                   <i class="fa fa-user"></i>
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s" > <!-- text -->
                                    <div class="section-item-details">
                                        <p>Ciekawy, rzeczowy, cierpliwy, dokładny. Doceniam pracę w zespole, chcę rozwijać i pogłębiać swoją wiedzę oraz zdobywać nowe doświadczenia.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MOBILE NUMBER -->
                        <div class="col l12 m12 s12  mobile sidebar-item">
                            <div class="row">
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-phone"></i> <!-- icon -->
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s" >
                                    <div class="section-item-details">
                                        <div class="personal">
                                            <h4><a href="tel:555-555-5555">+48 509 481 699</a></h4> <!-- Number -->
                                            <span>Telefon kontaktowy</span>
                                        </div>
                                        <!-- <div class="work">
                                            <h4><a href="tel:555-555-5555">+48-509-481-699</a></h4>
                                            <span>work</span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  EMAIL -->
                        <div class="col l12 m12 s12  email sidebar-item ">
                            <div class="row">
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-envelope"></i> <!-- icon -->
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
                                    <div class="section-item-details">
                                        <div class="personal">
                                            <h4><a href="mailto:someone@example.com">hubert.hernoga@wp.pl</a></h4> <!-- Email -->
                                            <span>e-mail</span>
                                        </div>
                                        <!-- <div class="work">
                                            <h4><a href="mailto:someone@example.com">ar@deviserweb.com</a></h4>
                                            <span>work</span> <br>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ADDRESS  -->
                        <div class="col l12 m12 s12  address sidebar-item ">
                            <div class="row">
                                <div class="col l3 m12  s12 icon">
                                    <i class="fa fa-home"></i> <!-- icon -->
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a4" data-wow-delay="0.4s">
                                    <div class="section-item-details">
                                        <div class="address-details"> <!-- address  -->
                                            <h4>Warszawa<br>
                                            <span>lokalizacja</span><br>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SKILLS -->
                        <div class="col l12 m12 s12  skills sidebar-item" >
                            <div class="row">
                                <div class="col m12 l3 s12 icon">
                                    <i class="fa fa-calendar-o"></i> <!-- icon -->
                                </div>
                                 <!-- Skills -->
                                <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.3s">
                                    <h3>Umiejętności zawodowe</h3>

                                    <span>Python</span>
                                    <div class="progress">
                                        <div class="determinate"> 60% </div>
                                    </div>

                                    <span>Django</span>
                                    <div class="progress">
                                        <div class="determinate"> 60% </div>
                                    </div>

                                    <span>Javascript + JQuery</span>
                                    <div class="progress">
                                        <div class="determinate">50%</div>
                                    </div>

                                    <span>HTML</span>
                                    <div class="progress">
                                        <div class="determinate"> 50%</div>
                                    </div>

                                    <span>CSS</span>
                                    <div class="progress">
                                        <div class="determinate">40%</div>
                                    </div>

                                    <span>GIT</span>
                                    <div class="progress">
                                        <div class="determinate">60%</div>
                                    </div>

                                    <span>REST</span>
                                    <div class="progress">
                                        <div class="determinate">55%</div>
                                    </div>

                                    <span>SQL</span>
                                    <div class="progress">
                                        <div class="determinate">40%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   <!-- end row -->
                </aside><!-- end sidebar -->

                <!-- =========================================
                   Another templates
                ==========================================-->

                 {% block content %}

                 {% endblock content %}

                        <!-- =======================================
                          portfolio Website
                        ==========================================-->

                        <div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">
                            <div class="col s12 m12 l10 website right" >
                                <div class="row">
                                    <div class="col s12 m12 l6">
                                       <span><a href="https://github.com/hubert-hernoga">Mój GitHub</a></span>
                                    </div>
                                    <div class="col col s12 m12 l6">
                                        <span><a href="https://www.linkedin.com/in/hubert-hernoga-433903160/">Mój LinkedIn</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end row -->
                </section><!-- end section -->
            </div> <!-- end row -->
        <p>Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; tekst jednolity: Dz. U. 2016 r. poz. 922). </p>
        </div>  <!-- end container -->

 <!--=====================
                JavaScript
        ===================== -->
        <!-- Jquery core js-->
        <script src="{% static 'multipa/js/jquery.min.js' %}"></script>

        <!-- materialize js-->
        <script src="{% static 'multipa/js/materialize.min.js' %}"></script>

        <!-- wow js-->
        <script src="{% static 'multipa/js/wow.min.js' %}"></script>

{#        <!-- Map api -->#}
{#        <script src='//maps.googleapis.com/maps/api/js?v=3.exp'></script>#}

        <!-- Masonry js-->
        <script src="{% static 'multipa/js/masonry.pkgd.js' %}"></script>

        <script src="{% static 'multipa/js/validator.min.js' %}"></script>

        <!-- Customized js -->
        <script src="{% static 'multipa/js/init.js' %}"></script>

    </body>
</html>

{% endblock head %}


