{% extends 'multipage/base.html' %}
{% load static %}
    {% block content %}

        <section class="col s12 m12 l8 section" id="section">
            <div class="cover-latter z-depth-1">
{#                <div class="cover-title">#}
{#                    <span>(data aplikowania)</span>#}
{#                    <h2>(właściciel firm/nazwa firmy)</h2>#}
{#                    <p>#}
{#                        (stanowisko, na które aplikuje)<br>#}
{#                        (nazwa firmy) <br>#}
{#                        (adres firmy)#}
{#                    </p>#}
{#                </div>#}
                <h2>Szanowna Pani/Szanowny Panie</h2><br><br>

                <p>List ten będzie zdecydowanie różnił się od standardowego listu motywacyjnego, przedstawie w nim kilka powodów przez które
                uważam, że jestem odpowiednim kandydatem na to stanowisko oraz to w jaki sposób znalazłem się na tej ścieżce kariery. </b></p>

                <h4><b>Jak w ciągu 7 miesięcy podczas pełnego etatu zdobyłem wiedzę dzięki, której dzisiaj mogę się pochwalić swoimi projektami?</h4>

                <p>Uważam, że moją najmocniejszą stroną jest pasja. W tematykę IT zagłębiłem się całkowicie przez przypadek niecały
                rok temu dzięki dwóm przyjaciołom (DevOps i Programista). Zaczęło się samą ciekawością, długimi rozmowami, samodzielnym
                zgłębianiem wiedzy oraz ukończeniem Szkoły Programowania Coders Labs, a skończyło się tym, że postanowiłem się przebranżowić
                i dzisiaj aplikuję na stanowisko programisty do Państwa firmy aby móc rozwijać się wśród ludzi z podobnymi zainteresowaniami.</p>

                <p>Moje inne mocne strony? Szybkie przyswajanie wiedzy, zaangażowanie, czerpanie przyjemności z analitycznego rozwiązywania
                problemów oraz znajdowanie nowych rozwiązań (zaczynając od zera po niecałym, roku mogę pochwalić się swoimi projektami,
                nad którymi ciąglę pracuję). Lubię porządek, systematykę i proste rozwiązania (ciągłe poszerzanie swoich horyzontów w branży
                IT oraz poznawanie nowych technologii umożliwiają mi zdecydowanie wdrażać te cechy w swoją pracę - z dnia na dzień coraz czystszy
                i usystematyzowany kod).</p>

                <p>Dlaczego zdecydowałem się aplikować do Państwa firmy? Moim priorytetem jest rozwój i możliwość poprawiania swoich umiejętności,
                co uważam, że jest możliwe w Państwa firmie.</p>

                <div class="cover-title">
                    <br><br>
                    <div><span class="signature">Z poważaniem</span>

{#                <div class="signature">#}
{#                    <img src="{% static 'multipage/images/sig.png' %}" alt="" class="img-responsive"></img>#}
                   <span class="signature"><b>Hubert Hernoga</b></span></div>
{#                    <h5> Python Junior Developer </h5>#}
{#                    <span>Warszawa</span>#}
                </div>
            </div>

        <!-- =========================================
           Refference
        ==========================================-->
{#            <div class="section-wrapper refarances z-depth-1">#}
{#                <div class="row">#}
{#                    <div class="section-icon col s12 m12 l2">#}
{#                        <i class="fa fa-graduation-cap"></i>#}
{#                    </div>#}
{#                    <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">#}
{#                        <h2>Refarances</h2>#}
{##}
{#                        <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" >#}
{#                            <h3>Hasin Hayder</h3>#}
{#                            <span>Head of Ideas, Themebucket </span>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                        </div>#}
{##}
{#                        <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s" >#}
{#                            <h3>Mizanur Rahman</h3>#}
{#                            <span>Founder & CEO, Template Ocean</span>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


    {% endblock content %}