{% extends 'multipage/base_eng.html' %}
{% load static %}
    {% block content %}

        <section class="col s12 m12 l8 section" id="section">
            <div class="cover-latter z-depth-1">
                <div class="cover-title">
                    <span>(date of application)</span>
                    <h2>(company owner/company name)</h2>
                    <p>
                        (the position I applies for)<br>
                        (company name) <br>
                        (company address)
                    </p>
                </div>
                <h4 class="cover-title">Dear Sir/Madam</h4>
                <p>This letter will be significantly different from the standard cover letter.
                I will introduce in it several reasons through which I think that I am the right candidate for this position and how
                I found myself on this career path </p>

                <p>I believe that passion is my greatest strength. In the subject of IT I delved completely by accident less than
                a year ago thanks to two friends (DevOps and Programmer). It started with curiosity alone, long conversations, independent
                exploring knowledge and the completion of the Programming School "Coders Labs", and it ended up being decided to change the industries
                and today I apply to your company's position as a programmer to be able to develop among people with similar interests.</p>

                <p>My other strengths? Fast assimilation of knowledge, commitment, enjoying the pleasure of analytical solving
                problems and finding new solutions (starting from zero after less than a year, I can show off my projects,
                which I'm constantly developing). I like order, systematics and simple solutions (continuous broadening of their horizons in the industry
                IT and getting to know new technologies enable me definitely implement these features into my work - clean and structured code).</p>

                <p>Why I decided to apply to your company? My priority is development and the opportunity to improve my skills,
                which I think is possible in your company.</p>

                <div class="cover-title">
                    <p>Your Sincerely</p>
                </div>
                <div class="signature">
                    <img src="{% static 'multipa/images/sig.png' %}" alt="" class="img-responsive"></img>
                    <h4>Hubert Hernoga</h4>
                    <h5> Python Junior Developer </h5>
                    <span>Warsaw</span>
                </div>
            </div>

        <!-- =========================================
           Refference
        ==========================================-->
{#            <div class="section-wrapper refarances z-depth-1">#}
{#                <div class="row">#}
{#                    <div class="section-icon col s12 m12 l2">#}
{#                        <i class="fa fa-graduation-cap"></i>#}
{#                    </div>#}
{#                    <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">#}
{#                        <h2>Refarances</h2>#}
{##}
{#                        <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" >#}
{#                            <h3>Hasin Hayder</h3>#}
{#                            <span>Head of Ideas, Themebucket </span>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                        </div>#}
{##}
{#                        <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s" >#}
{#                            <h3>Mizanur Rahman</h3>#}
{#                            <span>Founder & CEO, Template Ocean</span>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


    {% endblock content %}