{% extends 'multipage/base.html' %}
{% load static %}
    {% block content %}
<!-- =========================================
                 Full blog post
        ==========================================-->

        <section class="col s12 m12 l8 section" >
            <div class="row">
                <div class="blog"> <!-- full Blog start -->
                    <div class="col s12 m12 l12 blog-post">
                        <div class="thumbnail z-depth-1 animated">
                            <img src="{% static 'multipage/images/my_web_cv.png' %}" alt="" class="responsive-img">
                            <div class="blog-details">

                                <form action="http://static1.squarespace.com/static/5a822fa0a803bbab55212690/5a8237baf9619a464efcd30e/5a8674fd8165f5f7f8e8f2ee/1556649306834/private.jpg?format=1500w">
                                    {% csrf_token %}
                                        <div class="post-title" id="blog-post-3">
                                            <button class="btn" formtarget="_blank">
                                                <h2>Repozytorium</h2>
                                            </button>
                                        </div>
                                </form>

                                <div class="post-details">

                                    <h3>Główne funkcjonalności projektu:</h3>

                                        <p>- prezentowanie treści</p>

                                        <p>- prosty dostęp do serwisów tj. GitHub, LinkedIn</p>

                                        <p>- możliwość podejrzenia kodu projektów (podpięte repozytoria)</p>

                                        <p>- aplikacja responsywna</p>

                                    <h3>Plany rozwoju: </h3>

                                        <p>- generowanie pdf</p>

                                        <p>- zmiana języków</p>

                                        <p>- wysyłanie maili</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end  post -->

                <!-- =======================================
                     Comments
                =========================================-->
{#                <div class="col s12 m12 l12 comment right" > <!-- comment start from here -->#}
{#                    <div class="row">#}
{#                        <div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">#}
{#                            <div class="col s12 m12 l2 comment-img">#}
{#                               <img src="{% static 'multipage/images/pp3.jpg' %}" alt="" class="responsive-img">#}
{#                            </div>#}
{#                            <div class="col col s12 m12 l10 comment-details">#}
{#                                <h4> Jhone doe </h4>#}
{#                                <span>Feb 29, 2015</span>#}
{#                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipiscing elit.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>  <!-- comment end from here -->#}
{#                <div class="col s12 m12 l11 comment right" > <!-- comment start from here -->#}
{#                    <div class="row">#}
{#                        <div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">#}
{#                            <div class="col s12 m12 l2 comment-img">#}
{#                                <img src="{% static 'multipage/images/pp3.jpg' %}" alt="" class="responsive-img">#}
{#                            </div>#}
{#                            <div class="col col s12 m12 l10 comment-details">#}
{#                                <h4> Abdul Bari </h4>#}
{#                                <span>Feb 29, 2015</span>#}
{#                                <p>Thank You ! I Love it </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div> <!-- comment end here -->#}
{#                <div class="col s12 m12 l12 z-depth-1 comment-form" > <!-- Write comment from here -->#}
{#                    <div class="row">#}
{#                        <div class="input-field col s12 m12 l12 wow fadeIn a2" data-wow-delay="0.1s">#}
{#                            <input id="name" name="name" type="text" class="validate">#}
{#                            <label for="name">Name</label>#}
{#                        </div>#}
{#                        <div class="input-field col s12 wow fadeIn a4" data-wow-delay="0.3s">#}
{#                            <input id="email" type="email" name="email" class="validate">#}
{#                            <label for="email">Email</label>#}
{#                        </div>#}
{#                        <div class="input-field col s12 m12 l12">#}
{#                            <textarea id="textarea1" class="materialize-textarea"></textarea>#}
{#                            <label for="textarea1">Write Here</label>#}
{#                        </div>#}
{#                        <div class="input-field col s12 m12 l12">#}
{#                            <button class="btn waves-effect waves-light wow fadeIn" type="submit" name="action" data-wow-delay="0.5s">Comment</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
    {% endblock content %}