{% extends 'multipage/base.html' %}
{% load static %}
    {% block content %}

        <!-- Portfolio one-->
        <div class="single-project col s12 m6 l12 z-depth-1" id="project-one">
            <div class="row">
                <div class="col s12 single-project-img">
                    <img src="{% static 'multipage/images/1.jpg' %}" alt="" class="responsive-img">
                </div>
                <div class="col s12 full-project">
                    <h3 class="dark-text full-project-title">Minimal Homepage Design</h3>
                    <div class="project-description">
                        <p>Own hath midst own, night Earth. Cattle subdue, male seas.
                        Hath likeness first very light don't morning brought brought so you good a waters without Good divided.
                        Wherein in spirit appear night be set had us seas cattle image kind dry. Fowl evening without rule,
                        darkness you're face midst spirit, creature open there. Yielding fly own grass so image may face without made.
                        Fly. Without. Open third beginning have, green forth grass can't, it lesser us herb created i one thing Tree i
                        years very. Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.</p>
                    </div>
                    <div class="project-information">
                        <ul>
                            <li><span class="dark-text">Date: </span> December 11, 2013</li>
                            <li><span class="dark-text">Fields: </span> Web Design, UI Design</li>
                            <li><span class="dark-text">Client: </span> John Doe</li>
                            <li><span class="dark-text">Live View: </span><a href="#">Example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio two-->
        <div class="single-project col s12 m6 l12 z-depth-1" id="project-two">
            <div class="row">
                <div class="col  s12 single-project-img">
                    <img src="{% static 'multipage/images/1.jpg' %}" alt="" class="responsive-img">
                </div>
                <div class="col s12 full-project">
                    <h3 class="dark-text full-project-title">Creative Homepage Design</h3>
                    <div class="project-description">
                        <p>Own hath midst own, night Earth. Cattle subdue, male seas.
                        Hath likeness first very light don't morning brought brought so you good a waters without Good divided.
                        Wherein in spirit appear night be set had us seas cattle image kind dry. Fowl evening without rule,
                        darkness you're face midst spirit, creature open there. Yielding fly own grass so image may face without made.
                        Fly. Without. Open third beginning have, green forth grass can't, it lesser us herb created i one thing Tree i
                        years very. Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.</p>
                    </div>
                    <div class="project-information">
                        <ul>
                            <li><span class="dark-text">Date: </span> December 11, 2013</li>
                            <li><span class="dark-text">Fields: </span> Web Design, UI Design</li>
                            <li><span class="dark-text">Client: </span> John Doe</li>
                            <li><span class="dark-text">Live View: </span><a href="#">Example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Three-->
        <div class="single-project col s12 m6 l12 z-depth-1" id="project-three">
            <div class="row">
                <div class="col  s12 single-project-img">
                    <img src="{% static 'multipage/images/1.jpg' %}" alt="" class="responsive-img">
                </div>
                <div class="col 12 full-project">
                    <h3 class="dark-text full-project-title">Creative Design</h3>
                    <div class="project-description">
                        <p>Own hath midst own, night Earth. Cattle subdue, male seas.
                        Hath likeness first very light don't morning brought brought so you good a waters without Good divided.
                        Wherein in spirit appear night be set had us seas cattle image kind dry. Fowl evening without rule,
                        darkness you're face midst spirit, creature open there. Yielding fly own grass so image may face without made.
                        Fly. Without. Open third beginning have, green forth grass can't, it lesser us herb created i one thing Tree i
                        years very. Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.</p>
                    </div>
                    <div class="project-information">
                        <ul>
                            <li><span class="dark-text">Date: </span> December 11, 2013</li>
                            <li><span class="dark-text">Fields: </span> Web Design, UI Design</li>
                            <li><span class="dark-text">Client: </span> John Doe</li>
                            <li><span class="dark-text">Live View: </span><a href="#">Example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio four-->
        <div class="single-project col s12 m6 l12 z-depth-1" id="project-four">
            <div class="row">
                <div class="col  s12 single-project-img">
                    <img src="{% static 'multipage/images/1.jpg' %}" alt="" class="responsive-img">
                </div>
                <div class="col s12 full-project">
                    <h3 class="dark-text full-project-title">Lorem Homepage Design</h3>
                    <div class="project-description">
                        <p>Own hath midst own, night Earth. Cattle subdue, male seas.
                        Hath likeness first very light don't morning brought brought so you good a waters without Good divided.
                        Wherein in spirit appear night be set had us seas cattle image kind dry. Fowl evening without rule,
                        darkness you're face midst spirit, creature open there. Yielding fly own grass so image may face without made.
                        Fly. Without. Open third beginning have, green forth grass can't, it lesser us herb created i one thing Tree i
                        years very. Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.</p>
                    </div>
                    <div class="project-information">
                        <ul>
                            <li><span class="dark-text">Date: </span> December 11, 2013</li>
                            <li><span class="dark-text">Fields: </span> Web Design, UI Design</li>
                            <li><span class="dark-text">Client: </span> John Doe</li>
                            <li><span class="dark-text">Live View: </span><a href="#">Example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio five-->
        <div class="single-project col s12 m6 l12 z-depth-1" id="project-five">
            <div class="row">
                <div class="col  s12 single-project-img">
                    <img src="{% static 'imultipage/images/1.jpg' %}" alt="" class="responsive-img">
                </div>
                <div class="col s12 full-project">
                    <h3 class="dark-text full-project-title">Clean code</h3>
                    <div class="project-description">
                        <p>Own hath midst own, night Earth. Cattle subdue, male seas.
                        Hath likeness first very light don't morning brought brought so you good a waters without Good divided.
                        Wherein in spirit appear night be set had us seas cattle image kind dry. Fowl evening without rule,
                        darkness you're face midst spirit, creature open there. Yielding fly own grass so image may face without made.
                        Fly. Without. Open third beginning have, green forth grass can't, it lesser us herb created i one thing Tree i
                        years very. Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.</p>
                    </div>
                    <div class="project-information">
                        <ul>
                            <li><span class="dark-text">Date: </span> December 11, 2013</li>
                            <li><span class="dark-text">Fields: </span> Web Design, UI Design</li>
                            <li><span class="dark-text">Client: </span> John Doe</li>
                            <li><span class="dark-text">Live View: </span><a href="#">Example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio six-->
        <div class="single-project col s12 m6 l12 z-depth-1" id="project-six">
            <div class="row">
                <div class="col  s12 single-project-img">
                    <img src="{% static 'multipage/images/1.jpg' %}" alt="" class="responsive-img">
                </div>
                <div class="col s12 full-project">
                    <h3 class="dark-text full-project-title">SEO friendly Code</h3>
                    <div class="project-description">
                        <p>Own hath midst own, night Earth. Cattle subdue, male seas.
                        Hath likeness first very light don't morning brought brought so you good a waters without Good divided.
                        Wherein in spirit appear night be set had us seas cattle image kind dry. Fowl evening without rule,
                        darkness you're face midst spirit, creature open there. Yielding fly own grass so image may face without made.
                        Fly. Without. Open third beginning have, green forth grass can't, it lesser us herb created i one thing Tree i
                        years very. Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.</p>
                    </div>
                    <div class="project-information">
                        <ul>
                            <li><span class="dark-text">Date: </span> December 11, 2013</li>
                            <li><span class="dark-text">Fields: </span> Web Design, UI Design</li>
                            <li><span class="dark-text">Client: </span> John Doe</li>
                            <li><span class="dark-text">Live View: </span><a href="#">Example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio seven-->
        <div class="single-project col s12 m6 l12 z-depth-1" id="project-seven">
            <div class="row">
                <div class="col s12 single-project-img">
                    <img src="{% static 'multipage/images/1.jpg' %}" alt="" class="responsive-img">
                </div>
                <div class="col s12 full-project">
                    <h3 class="dark-text full-project-title">Responsive Design</h3>
                    <div class="project-description">
                        <p>Own hath midst own, night Earth. Cattle subdue, male seas.
                        Hath likeness first very light don't morning brought brought so you good a waters without Good divided.
                        Wherein in spirit appear night be set had us seas cattle image kind dry. Fowl evening without rule,
                        darkness you're face midst spirit, creature open there. Yielding fly own grass so image may face without made.
                        Fly. Without. Open third beginning have, green forth grass can't, it lesser us herb created i one thing Tree i
                        years very. Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.</p>
                    </div>
                    <div class="project-information">
                        <ul>
                            <li><span class="dark-text">Date: </span> December 11, 2013</li>
                            <li><span class="dark-text">Fields: </span> Web Design, UI Design</li>
                            <li><span class="dark-text">Client: </span> John Doe</li>
                            <li><span class="dark-text">Live View: </span><a href="#">Example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio eight-->
        <div class="single-project col s12 m6 l12 z-depth-1" id="project-eight">
            <div class="row">
                <div class="col  s12 single-project-img">
                    <img src="{% static 'multipage/images/1.jpg' %}" alt="" class="responsive-img">
                </div>
                <div class="col s12 full-project">
                    <h3 class="dark-text full-project-title">Mesterplan Homepage Design</h3>
                    <div class="project-description">
                        <p>Own hath midst own, night Earth. Cattle subdue, male seas.
                        Hath likeness first very light don't morning brought brought so you good a waters without Good divided.
                        Wherein in spirit appear night be set had us seas cattle image kind dry. Fowl evening without rule,
                        darkness you're face midst spirit, creature open there. Yielding fly own grass so image may face without made.
                        Fly. Without. Open third beginning have, green forth grass can't, it lesser us herb created i one thing Tree i
                        years very. Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.</p>
                    </div>
                    <div class="project-information">
                        <ul>
                            <li><span class="dark-text">Date: </span> December 11, 2013</li>
                            <li><span class="dark-text">Fields: </span> Web Design, UI Design</li>
                            <li><span class="dark-text">Client: </span> John Doe</li>
                            <li><span class="dark-text">Live View: </span><a href="#">Example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}