{% extends 'multipage/base.html' %}
{% load static %}
    {% block content %}
    <!-- =======================================
                  blog
    =========================================-->

        <section class="col s12 m12 l8 section" > <!-- Blog section start -->
            <div class="row">
                <div class="blog">

                    <div class="col s12 m12 l6 blog-post">
                        <div class="thumbnail z-depth-1">
                            <div class="blog-details">
                                <div class="post-title" id="blog-post-3">
                                    <a href="/frenchtouch">
                                        <h2>FrenchTouch</h2>
                                        <span>(commercial)</span>
                                    </a>
                                </div>
                                <div class="post-details">
                                    <p>- Python,
                                    <br>- AWS
                                    <br>(Cognito, CloudFront, Route53, SES, AG, S3, Serverless, Lambda, DynamoDb, CodePipeline, CloudWatch),
                                    <br>- Vue (Admin Panel),
                                    <br>- HTML + CSS,
                                    <br>- Scrum
                                    <br>- Git
                                    <br>
                                    <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l6 blog-post">
                        <div class="thumbnail z-depth-1">
                            <div class="blog-details">
                                <div class="post-title" id="blog-post-3">
                                    <a href="/interdrinks">
                                        <h2>InterDrinks</h2>
                                        <span>(commercial)</span>
                                    </a>
                                </div>
                                <div class="post-details">
                                    <p>- Python,
                                    <br>- AWS,
                                    <br>(AG, SNS, SQS, S3, Serverless, Lambda, DynamoDb, RDS, Redis, CodePipeline, CloudWatch),
                                    <br>- MySQL,
                                    <br>- GhostInspector,
                                    <br>- ShipUp,
                                    <br>- Scrum
                                    <br>- Git
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l6 blog-post">
                        <div class="thumbnail z-depth-1">
                            <div class="blog-details">
                                <div class="post-title" id="blog-post-3">
                                    <a href="/lasante">
                                        <h2>LaSante</h2>
                                        <span>(commercial)</span>
                                    </a>
                                </div>
                                <div class="post-details">
                                    <p>- Python,
                                    <br>- AWS,
                                    <br>(AG, S3, SNS, Serverless, Lambda, CloudWatch),
                                    <br>- MySQL,
                                    <br>- Docker,
                                    <br>- Scrum
                                    <br>- Git
                                    <br>
                                    <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l6 blog-post">
                        <div class="thumbnail z-depth-1">
                            <div class="blog-details">
                                <div class="post-title" id="blog-post-3">
                                    <a href="/project_shop">
                                        <h2>Pawel&Marly</h2>
                                        <span>(commercial)</span>
                                    </a>
                                </div>
                               <div class="post-details">
                                    <p>- Python + Django,
                                    <br>- Javascript + JQuery,
                                    <br>- Ajax,
                                    <br>- MySQL,
                                    <br>- HTML + CSS,
                                    <br>- REST,
                                    <br>- Git</p>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l6 blog-post">
                        <div class="thumbnail z-depth-1">
                            <div class="blog-details">
                                <div class="post-title" id="blog-post-3">
                                    <a href="/project_cv">
                                        <h2>CV</h2>
                                        <span>website</span>
                                    </a>
                                </div>
                                <div class="post-details">
                                    <p>- Python,
                                    <br>- Javascript + JQuery,
                                    <br>- HTML + CSS,
                                    <br>- Heroku,
                                    <br>- Git
                                    <br>
                                    <br>
                                    <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l6 blog-post">
                        <div class="thumbnail z-depth-1">
                            <div class="blog-details">
                                <div class="post-title" id="blog-post-3">
                                        <h2>Algorithms</h2>
                                        <span>exercises</span>
                                </div>
                                <div class="post-details">
                                    <p>- Python,
                                    <br>- Git
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    {% endblock content %}