{% extends 'multipage/base.html' %}
{% load static %}
    {% block content %}
    <!-- =======================================
                  blog
    =========================================-->

        <section class="col s12 m12 l8 section" > <!-- Blog section start -->
            <div class="row">
                <div class="blog">

                    <div class="col s12 m12 l6 blog-post">
                        <div class="thumbnail z-depth-1 animated">
                            <a href="/project_shop"><img src="{% static 'multipa/images/online_shop_js.png' %}" alt="" class="responsive-img"></a>
                            <div class="blog-details">
                                <div class="post-title" id="blog-post-1">
                                    <a href="/project_shop">
                                        <h2>Online shop</h2>
                                        <span>Paweł & Marly</span>
                                    </a>
                                </div>
                                <div class="post-details">
                                    <p>Użyte technologie:
                                    <br><span>Python(Django), Javascript, JQuery, MySQL, HTML, CSS, REST API, GitHub</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l6 blog-post">
                        <div class="thumbnail z-depth-1">
                            <a href="https://github.com/hubert-hernoga/python_algorithms"><img src="{% static 'multipa/images/online_shop.png' %}" alt="" class="responsive-img"></a>
                            <div class="blog-details">
                                <div class="post-title" id="blog-post-2">
                                    <a href="https://github.com/hubert-hernoga/python_algorithms">
                                        <h2>Algorithms</h2>
                                        <span>Python</span>
                                    </a>
                                </div>
                                <div class="post-details">
                                    <p>Ćwiczenia algorytmów w języku Python.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l6 blog-post">
                        <div class="thumbnail z-depth-1">
                            <a href="/project_cv"><img src="{% static 'multipa/images/my_web_cv.png' %}" alt="" class="responsive-img"></a>
                            <div class="blog-details">
                                <div class="post-title" id="blog-post-3">
                                    <a href="/project_cv">
                                        <h2>Web CV</h2>
                                        <span></span>
                                    </a>
                                </div>
                                <div class="post-details">
                                    <p>Użyte technologie:
                                    <br><span>Python(Django), Javascript, HTML, CSS, GitHub</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

{#                    <div class="col s12 m12 l6 blog-post">#}
{#                        <div class="thumbnail z-depth-1">#}
{#                            <a href="/blog_post"><img src="{% static 'multipa/images/blog1.jpg' %}" alt="" class="responsive-img"></a>#}
{#                            <div class="blog-details">#}
{#                                <div class="post-title" id="blog-post-4">#}
{#                                    <a href="/blog_post">#}
{#                                        <h2>Marketing Partner</h2>#}
{#                                        <span>branding, ui-ux, article</span>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="post-details">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum. Aliquam congue augue a ullamcorper finibus.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col s12 m12 l12 blog-post">#}
{#                        <div class="row">#}
{#                            <div class="thumbnail z-depth-1">#}
{#                                <div class="featured-img col m12 s12 l6 " id="featured">#}
{#                                    <a href="/blog_post"><img src="{% static 'multipa/images/bb3.jpg' %}" alt="" class="responsive-img z-depth-1"></a>#}
{#                                </div>#}
{#                                <div class="caption col m12 s12 l6" id="caption">#}
{#                                    <div class="post-details z-depth-1">#}
{#                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum. Aliquam congue augue a ullamcorper finibus.#}
{#                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum.</p>#}
{#                                    </div>#}
{#                                    <div class="post-title z-depth-1" id="blog-post-5">#}
{#                                        <a href="/blog_post">#}
{#                                            <h2>Website Development</h2>#}
{#                                            <span>branding, ui-ux, article</span>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>

    {% endblock content %}


